<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="icon" href="./favicon.ico">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <header>
            <section>
                <div class="title">Todo List</div>
                <input  placeholder="添加Todo" v-model="newItem" @keyup.enter="addNew">
            </section>        
        </header>
        <section>
            <h3>进行中 <span>{{unfinished}}</span></h3>
            <ul class="list-unstyled todolist">            
                <li v-for="item in items" v-if="!item.isFinished" >
                    <input type="checkbox" @click="exchange(item)">
                    <span>{{item.lable}}</span>
                    <span class="glyphicon glyphicon-minus-sign" @click="remove(item)"></span>
                </li>
            </ul>
            <h3>已完成 <span>{{finished}}</span></h3>        
            <ul class="list-unstyled donelist">                
                <li  v-for="item in items" v-if="item.isFinished">
                    <input type="checkbox" @click="exchange(item)" checked="checked">
                    <span>{{item.lable}}</span>
                    <span class="glyphicon glyphicon-minus-sign" @click="remove(item)"></span>
                </li>
            </ul>
        </section>
        <footer class="text-center">
            Copyright © 2018 Todo List <span @click="remove({})">clearAll</span>
        </footer>
    </div>
    <script>
        var Storage ={
            fetch: ()=>{
                return JSON.parse(window.localStorage.getItem("todoList") || '[]')
            },
            save: (items)=>{
                window.localStorage.setItem("todoList",JSON.stringify(items))
            },
        }

        var app = new Vue({
            el: "#app",
            data: {
                items: Storage.fetch(),
                newItem:'',
            },
            computed: {
                unfinished: function(){
                    var i = 0;
                    this.items.forEach((item,index)=>{
                        if(!item.isFinished)
                            i++;
                    })
                    return i;
                },
                finished: function(){
                    var i = 0;
                    this.items.forEach((item,index)=>{
                        if(item.isFinished)
                            i++;
                    })
                    return i;
                }
            },
            methods: {
                exchange: function(item){
                    item.isFinished = !item.isFinished;
                },
                addNew: function(){
                    this.items.unshift({                        
                            lable: this.newItem,
                            isFinished: false,
                            index: this.items.length
                    })
                    this.newItem = '';
                },
                indexOf: function(temp) {
                    this.items.forEach((item,index)=>{
                        if(item == temp)
                            return index
                    });
                    return -1;
                }
                ,
                remove: function(item){
                    var index = this.indexOf(item);
                    this.items.splice(index,1);
                },
            },
            watch: {
                items: {
                    handler: (items)=>{
                        Storage.save(items)
                    },
                    deep: true
                },
            }
        })
    </script>
</body>
</html>